<section class="f_pword">
    <div class="wrap">
     <div class="f_pword_wrap">
         <div class="logo">
             <img src="{{logo}}" alt="">
         </div>
         <h1 class="title text_center">
             Forgot password?
         </h1>
         <h6 class="sub_title text_center">
             We have sent an OTP to  <br>
             <a class="email_to" href="">{{userEmail}}</a>
         </h6>
         <p class="links text_center">
             <a class="link me_5" (click)="backToLogin()">Change email address</a>
             <a class="link" (click)="backToPassword()">Back to Login</a>
         </p>
         <div class="r_pword">
             <div class="left">
                 <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off" >
                     <div class="input_wrap">
                         <label class="input_label">OTP</label>
                         <input class="inpt_field" type="text"  formControlName="otp" name="" placeholder="Enter OTP" required>
                         <div class="login_error" *ngIf="submitted && f.otp.invalid">
                            4 digits required
                          </div>
                     </div>
                     <div class="input_wrap">
                         <label class="input_label">New Password</label>
                         <input class="inpt_field" type="password" name="" placeholder="Enter New Password" formControlName="newPassword" required >  
                         <div class="login_error" *ngIf="submitted && f.newPassword.invalid">
                            <div *ngIf="f.newPassword.errors.required">New password required</div>
                            <div *ngIf="f.newPassword.errors.minlength"> New Password must be atleast 8 characters in length</div>
                            <div *ngIf="f.newPassword.errors.maxlength"> New Password cannot exceed 16 characters </div>
                            <div *ngIf="f.newPassword.errors.pattern"> New Password should be in specified format </div>
                          </div>
                          <div class="login_alert" *ngIf="isError">
                            {{errorMessage}}
                        </div>
                     </div>                     
                     <div class="input_wrap mb_0">
                         <button class="btn btn_primary mt_1" type="submit" >Reset Password</button>
                     </div>                       
                 </form>
             </div>
             <div class="right">
                 <h2>Password Criteria</h2>
                 <ul>
                     <li>
                         Minimum length should be 8-16 characters required
                     </li>
                     <li>
                         Minimum of 1 alphabet, 1 numeric, 1 capital, 
                         1 small and 1 special(#,&,@) character
                         required                
                     </li>
                     <li>
                         Password cannot include username             
                     </li>
                 </ul>
             </div>
         </div>
        </div>
    </div>
 </section>o
