<main class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-12">
        <div class="row">
          <div class="col-md-8">
            <h1>Manage Campaigns</h1>
          </div>
          <div class="col-md-4"></div>
        </div>
        <span>
          <label class="search-label">Search by</label>
          <select
            style="height: 28px"
            class="margin_left dropDown-style"
            #searchType
            value=""
            (change)="searchValueOffset(0, searchType.value, '')"
          >
            <option value="name">Name</option>
            <option value="code">Code</option>
            <option value="project">Project</option>
          </select>
        </span>
        <span class="margin_left">
          <input
            type="text"
            class="search-style"
            placeholder="Enter Search Value"
            #sortVal
            name="sortVal"
            autocomplete="off"
          />

          <i
            class="fa fa-search search-icon"
            (click)="searchValueOffset(0, searchType.value, sortVal.value)"
          ></i>
        </span>
        <div class="import_list pull-right" style="display: inline">
          <input
            style="display: none"
            type="file"
            #fileInput
            name="fileInput"
            (change)="uploadExcel($event)"
          />
          <a (click)="fileInput.click()"> Import List</a>
        </div>
        <a
          href="https://brigadeapp.s3.ap-south-1.amazonaws.com/Document/CP.xlsx"
        >
          <img class="samplexlsx" src="assets\images\sampleExcel.png" />
        </a>
      </div>
      <div class="processing_status_div">
        <span class="processing_status">{{ uploadStatus }}</span>
      </div>
      <div *ngIf="isProcessingVisible" class="processing_status_div">
        <span class="processing_status">Processing...</span>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <table
          class="table table-striped table-hover table-responsive w-100 table_leads_123"
        >
          <thead class="set_width">
            <tr>
              <th width="10%;">Campaign Name</th>
              <th width="20%;">Campaign Code</th>
              <th width="15%;">Campaign Project</th>
            </tr>
          </thead>
          <tbody class="set_width" *ngIf="customerList.length > 0">
            <tr *ngFor="let cp of customerList; let i = index">
              <td width="20%;">{{ cp.name }}</td>
              <td width="15%;">{{ cp.code }}</td>
              <td width="15%;">{{ cp.project }}</td>
            </tr>
          </tbody>
          <tbody class="set_width" *ngIf="customerList.length == 0">
            <tr>
              <td colspan="8" class="text-center">No data available!</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="sizeofTable > recordsPerPage">
    <ngb-pagination
      [collectionSize]="sizeofTable"
      [(page)]="offset"
      [maxSize]="3"
      [pageSize]="recordsPerPage"
      aria-label="Default pagination"
      (pageChange)="paginatedSearch(offset)"
    ></ngb-pagination>
  </div>
</main>
