.heading_h1{
    color: #000000;
    font-weight: 900;
    font-size: 24px;
}
.reset_btn{
    color: white;
    background-color: #f7941e;
    float: right;
    font-size: 19px;
}
.cancel_btn{
    float: left;
    font-size: 19px;
}
.error{
    color: red;
}
.form_div{
    margin-bottom: 10px;
}
.name_content{
    font-size: 20px;
    font-weight: 700;
}
.close_icon{
    float: right;
}