<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div>
            <i class="fas fa-times close_icon" (click)="onCancel()"></i>
        </div>
        <div class="form_div">
            <h1 class="heading_h1">Reset Password</h1>
        </div>
        <form [formGroup]="resetPasswordForm" autocomplete="off">
            <div class="form_div">
                <label for="password">Name</label>
                <div class="name_content">{{data.name}}</div>
            </div>
            <div class="form_div">
                <label for="password">Create Password<span class="error">*</span></label>
                <input type="password" placeholder="Enter Create Password" id="password" class="form-control" formControlName="password" required>
                <div *ngIf="submitted && f.password.errors?.required" class="error">
                    Password required
                </div>
                <div *ngIf="submitted && f.password.errors?.minlength" class="error">
                    Password must be atleast 8 characters in length
                </div>
                <div *ngIf="submitted && f.password.errors?.maxlength" class="error">
                    Password cannot exceed 16 characters
                </div>
            </div>
            <div class="form_div">
                <label for="password">Confirm Password<span class="error">*</span></label>
                <input type="password" placeholder="Enter Confirm Password" id="password" class="form-control" formControlName="confirmPassword" (blur)="onConfirm()" required>
                <div *ngIf="submitted && f.confirmPassword.errors?.required" class="error">
                    Confirm password required
                </div>
                <div *ngIf="submitted && f.confirmPassword.errors?.minlength" class="error">
                    Password must be atleast 8 characters in length
                </div>
                <div *ngIf="submitted && f.confirmPassword.errors?.maxlength" class="error">
                    Password cannot exceed 16 characters
                </div>
                <div *ngIf="isConfirmPasswordInvalid" class="error">
                    Password and confirm password does not match
                </div>
            </div>
            <div>
                <div>
                    <button class="btn cancel_btn" (click)="onCancel()">Cancel</button>
                </div>
                <div>
                    <button class="btn reset_btn" (click)="resetPassword()">Reset Password</button>
                </div>
            </div>

        </form>
    </div>
</div>