@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --font-primary: "Inter", sans-serif;
}

:root {
  --text-xs: 14px;
  --text-sm: 16px;
  --text-md: 18px;
  --text-lg: 20px;
  --text-xl: 22px;
  --text-2xl: 26px;
  --text-3xl: 28px;
  --text-4xl: 30px;
  --text-5xl: 32px;
  --text-6xl: 36px;
}

:root {
  --light_color_1: #ffffff;
  --light_color_2: #dfe8f4;
  --light_color_3: #a8bad3;
  --light_color_4: #dadced;
  --light_color_5: #e7edf5;
  --dark_color_1: #072040;
  --dark_color_3: #071731;
  --dark_color_2: #566577;
  --primary: #4652a4;
  --primary_g: #85ceb8;
  --danger: #d90000;
  --warning: #f2b40c;
  --success: #0bb12b;
}
