<main class="">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-12">
        <!-- <h1>About Us</h1> -->
      </div>
    </div>
    <div>
      <div class="row">
        <div>
          <div>
            <!-- <div class="collateral_btn_div1">
              <h4>About Details</h4>
              <label>Customise your details </label>
            </div> -->
            <div>
              <div>
                <mat-tab-group mat-align-tabs="start">
                  <mat-tab label="Help & Documents">
                    <app-helps-and-documents></app-helps-and-documents>
                  </mat-tab>
                  <mat-tab label="Builder Details">
                    <ng-template matTabContent>
                      <app-builder-details></app-builder-details>
                    </ng-template>
                  </mat-tab>
                  <mat-tab label="App Tutorial Videos">
                    <ng-template matTabContent>
                      <app-videos></app-videos>
                    </ng-template>
                  </mat-tab>
                  <mat-tab label="News">
                    <ng-template matTabContent>
                      <app-news></app-news>
                    </ng-template>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
