<div class="alert_main_div">
  <!-- <div class="row">

          <div class="col-sm-12">
                  <h4>{{data.title}}</h4>
          </div>

  </div>
  <hr> -->
  <span>{{data.title}}</span>
  <p>{{data.message}}</p>


  <div class="">
          <div class="text-right">
                  <!-- <button *ngIf="data.negativelabel!=null" (click)="no()" class="btn btn-secondary mr-2 px-4 btn-sm">{{data.negativelabel}}</button>
                  <button *ngIf="data.positivelabel!=null" (click)="yes()" class="btn btn-danger  px-4 btn-sm">{{data.positivelabel}}</button> -->
                  <button (click)="no()" class="btn btn-secondary mr-2 px-4 btn-sm">OK</button>
                </div>
  </div>

</div>
