<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <input type="password" name="Oldpassword" class="inpt form-control" 
  placeholder="Old Password" formControlName="oldpassword" autocomplete="off" 
  [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }" >
  <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
      <div *ngIf="f.oldpassword.errors.required">Old password required</div>
  
  </div>
  <input type="password" name="Newpassword"  class="inpt form-control mt-4"  
  placeholder="New Password" formControlName="newpassword" autocomplete="off"
  [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors ||  submitted && passwordMatch}">
  <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
      <div *ngIf="f.newpassword.errors.required">New password required</div>
      <div *ngIf="f.newpassword.errors.minlength"> New Password must be atleast 8 characters in length</div>
      <div *ngIf="f.newpassword.errors.maxlength"> New Password cannot exceed 16 characters </div>
      <div *ngIf="f.newpassword.errors.pattern"> New Password should be in specified format </div>
  </div>
  <div *ngIf="submitted " class="invalid-feedback">
  <div *ngIf="passwordMatch">Password cannot include username</div>
  </div>
<div>
    <h6><strong>Password Criterias</strong></h6>
    <div>
            <ul>
                    <li>Minimum length should be 8-16 characters required.</li>
                    <li>Minimum of 1 Alphabet, 1 Numeric, 1 Capital , 1 Small and 1 Special Character(#,$,@) is required.</li>
                    <li>Password cannot include username.</li>
                </ul>
    </div>
    
</div>
  <div class="pro_form1">
   <input type="submit" name="submit" class="sub1 mt-4" value="Change password">
</div>
</form>