<div>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="input_div">
      <input type="number" class="form-control" placeholder="OTP" formControlName="otp" required>
      <div class="error_label" *ngIf="submitted && f.otp.invalid">
        4 digits required
      </div>
    </div>
    <div class="input_div">
      <input type="password"  class="form-control" placeholder="New Password" formControlName="newPassword" required >
      <div class="error_label" *ngIf="submitted && f.newPassword.invalid">
        <div *ngIf="f.newPassword.errors.required">New password required</div>
        <div *ngIf="f.newPassword.errors.minlength"> New Password must be atleast 8 characters in length</div>
        <div *ngIf="f.newPassword.errors.maxlength"> New Password cannot exceed 16 characters </div>
        <div *ngIf="f.newPassword.errors.pattern"> New Password should be in specified format </div>
      </div>
    </div>
    <div class="input_div">
      <h5>Password Criterias</h5>
      <ul>
        <li>Minimum length should be 8-16 characters required</li>
        <li>Minimum of 1 Alphabet, 1 Numberic, 1 Capital, 1 Small and 1 Special character(#, &, @) is required</li>
        <li>Password cannot include username</li>
      </ul>
    </div>
    <div class="btn_div">
      <button class="btn btn-primary btn_psw">Change Password</button>
    </div>
  </form>
</div>