<div class="row_n">
  <div class="col_lg_4">
    <div>
      <button
        type="submit"
        (click)="onClickAdopt()"
        class="dashboard_button btn btn_primary inpt_field"
      >
        App Adoption Report
      </button>
    </div>
  </div>
  <div class="col_lg_4">
    <div>
      <button
        type="submit"
        (click)="onClickBusiness()"
        class="dashboard_button btn btn_primary inpt_field"
      >
        Business Summary Report
      </button>
    </div>
  </div>
</div>

<div class="row_n">
  <div class="col_lg_4">
    <div>
      <button
        type="submit"
        (click)="onClickFunnel()"
        class="dashboard_button btn btn_primary inpt_field"
      >
        Lead Funnel Report
      </button>
    </div>
  </div>
  <div class="col_lg_4">
    <div>
      <button
        type="submit"
        (click)="onClickPopup()"
        class="dashboard_button btn btn_primary inpt_field"
      >
        App Usage Report
      </button>
    </div>
  </div>
</div>
